*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: seashell;
}
.contain{
    max-width: 1000px;
    background-color:#E4F9F5;
    margin: 0 auto;
    padding: 10px;
}
.profile{
    width: 100px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50%;  
    float: left;
}
.header{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e;

}
.contact{
    float: right;
}
.contact a{
    text-decoration: none;
    color:teal
    font-weight:bold;
}
.contact a:hover{
    text-decoration: underline;
    color:tomato;

}
.clear{
    clear:both;
}
.hr{
    border:solid black,12px;
    width: 100%;
    border-bottom: none;

}
.content{
    margin-bottom: 30px;
    
}
.left{
    width: 30%;
    float: left;
    
}
.right{
    width: 70%;
    float: left;

}
.commonhr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin:20px auto;
}
.edutemleft{
    float: left;
    width: 45%;
}
.edutemright{
    float: right;
    width: 45%;
}
.bottomcon{
    background-color: black;
    text-align: center;
    padding:15px;

}
.bottomcon a{
    color:white;
    text-decoration: none;
    margin:20px;
}
.bottomcon p{
    color:white;
    text-decoration: none;
    margin-top:20px;
}
.inform{
    color:teal
}